﻿@using GetFitApp.Data.Entities
@using Microsoft.AspNetCore.Identity

@model IEnumerable<User>

@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchUser", "Administration")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search...">
            
        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>All Users: @Model.Count()  ||  Members: @Model.Count(u => u.UserType == GetFitApp.Data.Enums.UserType.Member)  ||  Trainers: @Model.Count(u => u.UserType == GetFitApp.Data.Enums.UserType.Trainer)</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">USERNAME</th>
                <th scope="col">USER TYPE</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="table-success">
                    <td>@user.NormalizedUserName</td>
                    <td>@user.UserType.ToString()</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete user: @user.UserName')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Auth" asp-action="SignUp" class="btn btn-primary mb-3 btn-sm">
        Add new user
    </a>
}
else
{
    <div class="card border-dark mb-3">
        <div class="card-header">
            NO USER ADDED YET
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to add a new user
            </h5>
            <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Auth"
               asp-action="SignUp">Add new user</a>
        </div>
    </div>
}