@using GetFitApp.Models.Trainer
@model List<TrainerDetailsViewModel>

@{
    ViewData["Title"] = "List of All Trainers";
}

<h2>@ViewData["Title"]</h2>
<hr />


@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchTrainer", "Administration")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search...">

        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>Total Trainers: @Model.Count()</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">SPECIALIZATION</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE NO</th>
                <th scope="col">AGE</th>
                <th scope="col">SEX</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trainer in Model)
            {
                <tr class="table-success">
                    <td>@trainer.Firstname.ToUpper() @trainer.Lastname.ToUpper() @trainer.Middlename.First().</td>
                    <td>@trainer.SpecializationName</td>
                    <td>@trainer.Email</td>
                    <td>@trainer.PhoneNumber</td>
                    <td>@trainer.Age</td>
                    <td>@trainer.Gender.ToString().First()</td>
                    <td>@trainer.Address</td>
                    <td>
                        <form asp-action="DeleteTrainer" asp-route-id="@trainer.Id" method="post">
                            <a asp-action="EditTrainer" asp-controller="Administration"
                               asp-route-id="@trainer.Id" class="btn btn-primary btn-sm mb-1">Update</a>
                            <button type="submit" class="btn btn-danger btn-sm mb-1"
                                    onclick="return confirm('Are you sure you want to delete @trainer.Firstname.ToUpper() from trainers')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mb-3">
        There are no trainers employed yet.
    </div>
}