@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchRole", "Administration")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search...">

        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>Total Roles: @Model.Count()</caption>
        <thead class="table-dark">
            <tr>
                <th scope ="col">ROLE NAME</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr class="table-success">
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                            <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary btn-sm rounded-pill">Edit</a>
                            <button type="submit" class="btn btn-danger btn-sm rounded-pill" onclick="return confirm('Are you sure you want to delete role : @role.Name')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary mb-3 btn-sm rounded-pill" asp-controller="administration"
       asp-action="CreateRole">Add new role
   </a>
}
else
{
    <div class="card border-dark">
        <div class="card-header border-dark">
            NO ROLE CREATED YET
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary btn-sm rounded-pill" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}
