@model GetFitApp.Models.Member.MemberDetailsViewModel

@{
    ViewData["Title"] = "My Details";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="ViewMemberDetails">
    
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Full Name:</label>
            <output type="text" class="form-control">
                @string.Join(" ", new[] { Model.Firstname, Model.Lastname, Model.Middlename }.Where(s => !string.IsNullOrEmpty(s)))
            </output>
        </div>

        <div class="col">
            <label asp-for="Email" class="form-label"></label>
            <output type="email" class="form-control" asp-for="Email">@Model.Email</output>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <output type="text" class="form-control" asp-for="PhoneNumber">@Model.PhoneNumber</output>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label asp-for="Age" class="form-label"></label>
            <output type="text" class="form-control" asp-for="Age">@Model.Age</output>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="Gender" class="form-label"></label>
            <output type="text" class="form-control" asp-for="Gender">@Model.Gender</output>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="EmergencyContact" class="form-label"></label>
            <output type="text" class="form-control" asp-for="EmergencyContact">@Model.EmergencyContact</output>
            <span asp-validation-for="EmergencyContact" class="text-danger"></span>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label asp-for="Address" class="form-label"></label>
            <output type="text" class="form-control" asp-for="Address">@Model.Address</output>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label asp-for="FitnessGoal" class="form-label"></label>
            <output type="text" class="form-control" asp-for="FitnessGoals">@Model.FitnessGoal</output>
            <span asp-validation-for="FitnessGoal" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="MembershipTypeId" class="form-label"></label>
            <output type="text" class="form-control" asp-for="MembershipTypeId">
                @Model.MembershipTypeName
            </output>
            <span asp-validation-for="MembershipTypeId" class="text-danger"></span>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label asp-for="TrainerId" class="form-label"></label>
            <output type="text" class="form-control" asp-for="TrainerId">
                @Model.TrainerName <br />
                Specialization: @Model.TrainerSpecialization
            </output>
            <span asp-validation-for="TrainerId" class="text-danger"></span>
        </div>


        <div class="col">
            <label asp-for="FitnessClassIds" class="form-label">Fitness Class:</label>
            <output type="text" class="form-control" asp-for="FitnessClassId">
                @Model.FitnessClassName <br />
                Schedule: @Model.FitnessClassSchedule.
            </output>
            <span asp-validation-for="FitnessClassIds" class="text-danger"></span>
        </div>
    </div>


    <div class="mb-3">
        <label asp-for="ExpiryDate" class="form-label">Membership Expiry Date:</label>
        <output type="text" class="text-danger" asp-for="FitnessGoals">@Model.ExpiryDate</output>
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
</div>
<div>
    <a style="width:auto" asp-action="UpdateMemberDetails" class="btn btn-primary rounded-pill">Update</a>
    <a style="width:auto" asp-action="DeleteMember" class="btn btn-danger rounded-pill">Delete</a>
</div>
