@using GetFitApp.Models.Specialization
@model List<SpecializationViewModel>

@{
    ViewData["Title"] = "List of Specializations";
}

<h2>@ViewData["Title"]</h2>
<hr />


@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchSpecialization", "Specialization")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search...">

        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>Total Specializations: @Model.Count()  ||  of Which Is Available: @Model.Count(s => s.IsAvailable)</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">SPECIALIZATION</th>
                <th scope="col">ACCESSIBILITY</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var specialization in Model)
            {
                <tr class="table-success">
                    <td>@specialization.SpecializationName.ToUpper()</td>
                    <td>@(specialization.IsAvailable ? "Available" : "Not Available")</td>
                    <td>
                        <form asp-action="DeleteSpecialization" asp-route-id="@specialization.Id" method="post">
                            <a class="btn btn-primary btn-sm mb-1" asp-action="UpdateSpecialization"
                               asp-controller="Specialization" asp-route-id="@specialization.Id">Update</a>

                            <button type="submit" class="btn btn-danger btn-sm mb-1"
                                    onclick="return confirm('Are you sure you want to delete specialization : @specialization.SpecializationName')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Specialization" asp-action="CreateSpecialization">
        Add new specialization
   </a>
}
else
{
    <div class="card border-dark mb-3">
    <div class="card-header">
        No specialization created yet
    </div>
    <div class="card-body">
        <h6 class="card-title">
            Use the button below to create a specialization
        </h6>
        <a class="btn btn-primary" style="width:auto"
           asp-controller="specialization" asp-action="CreateSpecialization">
            Create Specialization
        </a>
    </div>
</div>
}
