@using GetFitApp.Models.Specialization
@model List<SpecializationViewModel>

@{
    ViewData["Title"] = "List of Specializations";
}

<h2>@ViewData["Title"]</h2>
<hr />


@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchSpecialization", "Specialization")">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchString" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    
    @foreach (var specialization in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Name: @specialization.SpecializationName</h5>
                <h5>@(specialization.IsAvailable ? "Available" : "Not Available")</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteSpecialization" asp-route-id="@specialization.Id" method="post">
                    <a class="btn btn-primary" asp-action="UpdateSpecialization"
                       asp-controller="Specialization" asp-route-id="@specialization.Id">Update</a>

                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete specialization : @specialization.SpecializationName')">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
    <p>Total Specializations: @Model.Count()  ||  Is Available: @Model.Count(s => s.IsAvailable)</p>
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Specialization" asp-action="CreateSpecialization">
        Add new specialization
   </a>
}
else
{
<div class="card">
    <div class="card-header">
        No specialization created yet
    </div>
    <div class="card-body">
        <h6 class="card-title">
            Use the button below to create a specialization
        </h6>
        <a class="btn btn-primary" style="width:auto"
           asp-controller="specialization" asp-action="CreateSpecialization">
            Create Specialization
        </a>
    </div>
</div>
}
