@using GetFitApp.Models.MembershipType
@model List<MembershipTypeViewModel>

@{
    ViewData["Title"] = "List of Membership Types";
}

<h2>@ViewData["Title"]</h2>
<hr />


@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchMembershipType", "MembershipType")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search...">

        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>Total Membership Types: @Model.Count()</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">MEMBERSHIP TYPE</th>
                <th scope="col">PLAN DURATION</th>
                <th scope="col">PRICE</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var membershipType in Model)
            {
                <tr class="table-success">
                    <td>@membershipType.MembershipTypeName.ToUpper()</td>
                    <td>@membershipType.Duration.ToString().ToUpper()</td>
                    <td>@membershipType.Amount</td>
                    <td>
                        <form asp-action="DeleteMembershipType" asp-route-id="@membershipType.Id" method="post">
                            <a class="btn btn-primary btn-sm mb-1 rounded-pill" asp-action="UpdateMembershipType"
                               asp-controller="MembershipType" asp-route-id="@membershipType.Id">Update</a>

                            <button type="submit" class="btn btn-danger btn-sm mb-1 rounded-pill"
                                    onclick="return confirm('Are you sure you want to delete membership type : @membershipType.MembershipTypeName')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary mb-3 btn-sm rounded-pill" style="width:auto" asp-controller="MembershipType" asp-action="CreateMembershipType">
       Create new membership type
   </a>
}
else
{
    <div class="card border-dark mb-3">
        <div class="card-header">
            NO MEMBERSHIP TYPE CREATED YET
        </div>
        <div class="card-body">
            <h6 class="card-title">
                Use the button below to create a membership type
            </h6>
            <a class="btn btn-primary rounded-pill" style="width:auto"
               asp-controller="MembershipType" asp-action="CreateMembershipType">
                Create Membership Type
            </a>
        </div>
    </div>
}
