@using GetFitApp.Models.Benefit
@model List<BenefitViewModel>

@{
    ViewData["Title"] = "List of Benefits";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (Model.Any())
{
    <form method="get" action="@Url.Action("SearchBenefit", "Benefit")">
        <div class="input-group mb-3 justify-content-end">
            <input type="text" class="form-control-md" name="searchString" placeholder="Type to search..." >
        </div>
    </form>

    <table class="table table-striped table-hover table-bordered border-dark">
        <caption>Total Benefits: @Model.Count()</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">MEMBERSHIP</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var benefit in Model)
            {
                <tr class="table-success">
                    <td>@benefit.Name.ToUpper()</td>
                    <td>@benefit.MembershipTypeName</td>
                    <td>@benefit.Description</td>
                    <td>
                        <form asp-action="DeleteBenefit" asp-route-id="@benefit.Id" method="post">
                            <a class="btn btn-primary btn-sm mb-1 rounded-pill" asp-action="UpdateBenefit"
                               asp-controller="Benefit" asp-route-id="@benefit.Id">Update</a>

                            <button type="submit" class="btn btn-danger btn-sm mb-1 rounded-pill"
                                    onclick="return confirm('Are you sure you want to delete @benefit.MembershipTypes benefit')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary btn-sm mb-3 rounded-pill" style="width:auto" asp-controller="Benefit"
       asp-action="CreateBenefit">Add new benefit
   </a>
}
else
{
    <div class="card border-dark mb-3">
        <div class="card-header">
            NO BENEFIT CREATED YET
        </div>
        <div class="card-body">
            <h6 class="card-title">
                Use the button below to create a benefit
            </h6>
            <a class="btn btn-primary rounded-pill" style="width:auto"
               asp-controller="benefit" asp-action="CreateBenefit">
                Create Benefit
            </a>
        </div>
    </div>
}